{% extends 'main.html' %}

{% block content %}
<html>
   <head>
     <title>Guest Information</title>
     <h1>Guest Information</h1>
     <form>
       <input type="button" value="Go Back" onclick="history.back()">
     </form>
   </head>
   <body id="adminPage">


     <form id="addRoomForm">
       <h2>Add Room</h2>
       <p>Room Number:
         <input type="text" name="room_number" size="15" maxlength="30"/>
         Room Type:
         <select name="types">
           <option value="King">King</option>
           <option value="King Suite">King Suite</option>
           <option value="Double Queen">Double Queen</option>
           <option value="Double Queen Suite">Double Queen Suite</option>
         </select>
         Pets Allowed:
         <option value="Yes">Yes</option>
         <option value="No">No</option>
         Max Guests Allowed:
         <option value="2">2</option>
         <option value="4">4</option>
         <option value="6">6</option>
         Price:
         <input type="text" name="price" size="15" maxlength="30"/>
         <input type="submit" name="Add Room" value="Add Room"/>
     </form>
     <br>


     <form id="guestUpdateForm">
       <h2>Update Guest</h2>
       <p>First Name:
         <input type="text" name="f_name" size="15" maxlength="30"/>
          Last Name:
         <input type="text" name="l_name" size="15" maxlength="30"/>
         Phone Number
         Country Code:
         <input type="text" name="country_code" size="15" maxlength="30"/>
         Area Code:
         <input type="text" name="area_code" size="15" maxlength="30"/>
         Extension:
         <input type="text" name="phone_number" size="15" maxlength="30"/>
       <input type="submit" name="Update Guest" value="Update Guest"/>
     </form>
     <br>


     <form id="paymentUpdateForm">
       <h2>Update Payment</h2>
     </form>
     <br>


     <form id="reservationUpdateForm">
       <h2>Update Reservation</h2>
     </form>
     <br>


     <form id="roomUpdateForm">
       <h2>Update Room</h2>
     </form>
     <br>


     <form id="deleteRoomForm">
       <h2>Delete Room</h2>
       <p>Room Number:
         <input type="text" name="room_number" size="15" maxlength="30"/>
         <input type="submit" name="Delete Room" value="Delete Room"/>
       </p>
     </form>
     <br>


     <form id="deleteReservationForm">
       <h2>Delete Reservation</h2>
       <p>Reservation ID:
         <input type="text" name="reservation_id" size="15" maxlength="30"/>
         <input type="submit" name="Delete Reservation" value="Delete Reservation"/>
       </p>
     </form>
     <br>


     <form id="deleteGuestForm">
       <h2>Delete Guest</h2>
       <p>Guest ID:
         <input type="text" name="guest_id" size="15" maxlength="30"/>
         <input type="submit" name="Delete Guest" value="Delete Guest"/>
       </p>
     </form>
     <br>


     <form id="deletePaymentForm">
       <h2>Delete Payment</h2>
       <p>Payment ID:
         <input type="text" name="payment_id" size="15" maxlength="30"/>
         <input type="submit" name="Delete Payment" value="Delete Payment"/>
       </p>
     </form>
     <br>

     <form id="ViewPayment">
       <h2>View Payments</h2>
       <p>
         <input type="submit" name="View Payments" value="View Payments"/>
       </p>
    </form>
    <br>

    <form id="ViewGuests">
      <h2>View Guests</h2>
      <p>
        <input type="submit" name="View Guests" value="View Guests"/>
      </p>
   </form>
   <br>

   <form id="ViewRooms">
     <h2>View Rooms</h2>
     <p>
       <input type="submit" name="View Rooms" value="View Rooms"/>
     </p>
  </form>
  <br>

  <form id="ViewReservations">
    <h2>View Reservations</h2>
    <p>
      <input type="submit" name="View Reservations" value="View Reservations"/>
    </p>
 </form>
 <br>

   </body>
</html>
{% endblock %}
