{% extends 'main.html' %}

{% block content %}
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
   <div>
     <title>Guest Information</title>
     <h1>Guest Information</h1>
     <form>
       <input type="button" value=&larr; onclick="history.back()">
     </form>
   </div>
   <div>
    <form id="guestUpdateForm" action="/admin" method="post">
       <h2>Update Guest</h2>
       <p>Guest ID:
         <input type="text" name="guest_id" size="15" maxlength="30"/>
         </p>
        <p> Reservation ID:
        <input type = "text" name="reserve" size="15" maxlength="30"/>
        </p>
       <p>First Name:
         <input type="text" name="f_name" size="15" maxlength="30"/>
         </p>
         <p>
          Last Name:
         <input type="text" name="l_name" size="15" maxlength="30"/>
         </p>
         <p>
         Phone Number
         </p> 
         <p>Area Code:
         <input type="text" name="area_code" size="15" maxlength="30"/>
         </p>
         <p>Extension:
         <input type="text" name="phone_number" size="15" maxlength="30"/>
         </p>
       <input type="submit" name="UpdateGuest" value="Update"/>
       <input type="submit" name="DeleteGuest" value="Delete"/>
     </form>
     <br>
     <form id="paymentUpdateForm" action="/admin" method="post">
       <h2>Update Payment</h2>
        <p>Payment ID:
            <input type="text"  name="payment_id"/>
            </p>
        <p>Reservation ID:
            <input type="text" name="reserve"/>
        </p>
        <p>First Name:
         <input type="text" name="f_name" size="15" maxlength="30"/>
         Last Name:
         <input type="text" name="l_name" size="15" maxlength="30"/>
       </p>
       <p>Credit Card Type:
         <select name="types">
           <option value="Visa">Visa</option>
           <option value="Mastercard">Mastercard</option>
         </select>
       </p>
       <p>Credit Card Number:
         <input type="text" name="cc_number" size="15" maxlength="30"/>
       </p>
       <p>Security Code:
         <input type="text" name="security_code" size="15" maxlength="30"/>
       </p>
       <p>House Number:
         <input type="text" name="house_number" size="15" maxlength="30"/>
       </p>
       <p>Street Name:
         <input type="text" name="street_name" size="15" maxlength="30"/>
       </p>
       <p>City:
         <input type="text" name="city" size="15" maxlength="30"/>
       </p>
       <p>State:
         <input type="text" name="state" size="15" maxlength="30"/>
       </p>
       <p>Zip Code:
         <input type="text" name="zip_code" size="15" maxlength="30"/>
       </p>
       <p>Country:
         <input type="text" name="country" size="15" maxlength="30"/>
       </p>
       <p>Total Charged:
        <input type="text" name="total" size="15" maxlength="30"/>
       </p>
        <input type="submit" name="UpdatePayment" value="Update"/>
       <input type="submit" name="DeletePayment" value="Delete"/>
</form>
     <br>
     <form id="reservationUpdateForm" action="/admin" method="post">
       <h2>Update Reservation</h2>
       <p>Reservation ID:
            <input type="string" name="reserve">
       </p>
       <p>Guest ID:
            <input type="string" name="guest">
       </p>
       <p>Payment ID:
            <input type="string" name="payment">
       </p>
       <p>Room Number:
            <input tupe="string" name="room">
       </p>
       <p>Check-In:
            <input type="date" name="check_in">
        </p>
        <p>Check-Out:
             <input type="date" name="check_out">
        </p>
        <p>Guests:
            <input type="number" name="num">
        </p>
        <p>Confirmation Number:
            <input type="text" name="confirm"/>
        </p>
        <input type="submit" name="AddReservation" value="Add"/>
        <input type="submit" name="UpdateReservation" value="Update"/>
       <input type="submit" name="DeleteReservation" value="Delete"/>
     </form>
     <br>
     <form id="roomUpdateForm" action="/admin" method="post">
       <h2>Update Room</h2>
       <p>Room Number:
            <input type="string" name="room">
       </p>
       <p>Room Type:
            <select name="type">
                <option value="king">King</option>
                <option value="king suite">King Suite</option>
                <option value="queen">Double Queen</option>
                <option value="queen suite">Queen Suite</option>
            </select>
       </p>
       <p>Max Guests Allowed:
       <select name="guests">
           <option>2</option>
           <option>4</option>
           <option>6</option>
       </select>
       </p>
       <p> Price per Night:
       <input type="string" name="price">
        </p>
        <input type="submit" name="AddRoom" value="Add"/>
        <input type="submit" name="UpdateRoom" value="Update"/>
       <input type="submit" name="DeleteRoom" value="Delete"/>
     </form>

     <h1>List Rooms:</h1>
     <p><i>Refresh Page after adding a room to see it added below</i></p>
      <p>{% for row in room %}
       <li>{{ row }}</li>
      {% endfor %}
      </p>

     <h1>List Guests:</h1>
     <p><i>Refresh Page after adding a guest to see it added below</i></p>
     <p>{% for row in guest %}
      <li>{{ row }}</li>
     {% endfor %}
     </p>

     <h1>List Reservation:</h1>
     <p><i>Refresh Page after adding a reservation to see it added below</i></p>
     <p>{% for row in reservation %}
      <li>{{ row }}</li>
     {% endfor %}
     </p>

     <h1>List Payments:</h1>
     <p><i>Refresh Page after adding a payment to see it added below</i></p>
     <p>{% for row in payment %}
      <li>{{ row }}</li>
     {% endfor %}
     </p>

 </div>
</body>
{% endblock %}
