{% extends 'main.html' %}

{% block content %}
<head>
    <script>
      function delReservation(currElement) {
        var parentRowIndex = currElement.parentNode.parentNode.rowIndex;
        document.getElementById("Reservations").deleteRow(parentRowIndex);
      }
      function delGuest(currElement) {
        var parentRowIndex = currElement.parentNode.parentNode.rowIndex;
        document.getElementById("Guests").deleteRow(parentRowIndex);
      }
      function delRoom(currElement) {
        var parentRowIndex = currElement.parentNode.parentNode.rowIndex;
        document.getElementById("Rooms").deleteRow(parentRowIndex);
      }
      function delPayment(currElement) {
        var parentRowIndex = currElement.parentNode.parentNode.rowIndex;
        document.getElementById("Payments").deleteRow(parentRowIndex);
      }
    </script>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
   <div>
     <title>Guest Information</title>
     <h1>Guest Information</h1>
     <form>
       <input type="button" value=&larr; onclick="history.back()">
     </form>
   </div>
   <div>
       <p>Please use firefox or chrome</p>
    <form id="guestUpdateForm" action="/admin" method="post">
       <h2>Update Guest</h2>
       <p>Guest ID:
          <select name="guest_id">
            {% for row in guest %}
              <option>{{ row[0] }}</option>
            {% endfor %}
          </select>
        </p>
        <p> Reservation ID:
        <input type = "text" name="reserve" size="15" maxlength="30"/>
        </p>
       <p>First Name:
         <input type="text" name="f_name" size="15" maxlength="30"/>
         </p>
         <p>
          Last Name:
         <input type="text" name="l_name" size="15" maxlength="30"/>
         </p>
         <p>
         Phone Number
         </p> 
         <p>Area Code:
         <input type="text" name="area_code" size="15" maxlength="30"/>
         </p>
         <p>Extension:
         <input type="text" name="phone_number" size="15" maxlength="30"/>
         </p>
       <input type="submit" name="UpdateGuest" value="Update"/>
     </form>
     <br>
     <form id="paymentUpdateForm" action="/admin" method="post">
       <h2>Update Payment</h2>
        <p>Payment ID:
            <select name="payment_id">
                {% for row in payment %}
                  <option>{{ row[0] }}</option>
                {% endfor %}
              </select>
        </p>
        <p>Reservation ID:
            <input type="text" name="reserve"/>
        </p>
        <p>First Name:
         <input type="text" name="f_name" size="15" maxlength="30"/>
         Last Name:
         <input type="text" name="l_name" size="15" maxlength="30"/>
       </p>
       <p>Credit Card Type:
         <select name="types">
           <option value="Visa">Visa</option>
           <option value="Mastercard">Mastercard</option>
         </select>
       </p>
       <p>Credit Card Number:
         <input type="text" name="cc_number" size="15" maxlength="30"/>
       </p>
       <p>Security Code:
         <input type="text" name="security_code" size="15" maxlength="30"/>
       </p>
       <p>House Number:
         <input type="text" name="house_number" size="15" maxlength="30"/>
       </p>
       <p>Street Name:
         <input type="text" name="street_name" size="15" maxlength="30"/>
       </p>
       <p>City:
         <input type="text" name="city" size="15" maxlength="30"/>
       </p>
       <p>State:
         <input type="text" name="state" size="15" maxlength="30"/>
       </p>
       <p>Zip Code:
         <input type="text" name="zip_code" size="15" maxlength="30"/>
       </p>
       <p>Country:
         <input type="text" name="country" size="15" maxlength="30"/>
       </p>
       <p>Total Charged:
        <input type="text" name="total" size="15" maxlength="30"/>
       </p>
        <input type="submit" name="UpdatePayment" value="Update"/>
</form>
     <br>
     <form id="reservationUpdateForm" action="/admin" method="post">
       <h2>Update Reservation</h2>
       <p>Reservation ID:
          <select name="reservation_id">
            {% for row in reservation %}
              <option>{{ row[0] }}</option>
            {% endfor %}
          </select>
       </p>
       <p>Guest ID:
            <input type="string" name="guest">
       </p>
       <p>Payment ID:
            <input type="string" name="payment">
       </p>
       <p>Room Number:
            <input type="string" name="room">
       </p>
       <p>Check-In:
            <input type="date" name="check_in">
        </p>
        <p>Check-Out:
             <input type="date" name="check_out">
        </p>
        <p>Guests:
            <input type="number" name="num">
        </p>
        <p>Confirmation Number:
            <input type="text" name="confirm"/>
        </p>
        <input type="submit" name="AddReservation" value="Add"/>
        <input type="submit" name="UpdateReservation" value="Update"/>
     </form>
     <br>
     <form id="roomUpdateForm" action="/admin" method="post">
       <h2>Update Room</h2>
       <p>Room Number:
          <select name="room">
              {% for row in room %}
                <option>{{ row[0] }}</option>
              {% endfor %}
            </select>
       </p>
       <p>Room Type:
            <select name="type">
                <option value="King">King</option>
                <option value="King Suite">King Suite</option>
                <option value="Queen">Double Queen</option>
                <option value="Queen Suite">Queen Suite</option>
            </select>
       </p>
       <p>Max Guests Allowed:
       <select name="guests">
           <option>2</option>
           <option>4</option>
           <option>6</option>
       </select>
       </p>
       <p> Price per Night:
       <input type="string" name="price">
        </p>
        <input type="submit" name="AddRoom" value="Add"/>
        <input type="submit" name="UpdateRoom" value="Update"/>
     </form>

     <h1>Current Rooms:</h1>
     <p><i>Refresh Page after adding a room to see it added below</i></p>
     <table id="Rooms">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Max Guests</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in room %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td> 
              <td>{{ row[2] }}</td> 
              <td>{{ row[3] }}</td>
              <td><input type="submit" name="DeleteRoom" value="Delete" onclick="delRoom(this)"/></td> 
            </tr>
          {% endfor %}
        </tbody> 
      </table>

     <h1>Current Guests:</h1>
     <p><i>Refresh Page after adding a guest to see it added below</i></p>
     <table id="Guests">
      <thead>
        <tr>
          <th>Guest ID</th>
          <th>Reservation ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Area Code</th>
          <th>Phone Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in guest %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td> 
            <td>{{ row[2] }}</td> 
            <td>{{ row[3] }}</td> 
            <td>{{ row[4] }}</td> 
            <td>{{ row[5] }}</td>
            <td><input type="submit" name="DeleteGuest" value="Delete" onclick="delGuest(this)"/></td> 
          </tr>
        {% endfor %}
      </tbody> 
    </table>

     <h1>Current Reservation:</h1>
     <p><i>Refresh Page after adding a reservation to see it added below</i></p>
     <table id="Reservations">
        <thead>
          <tr>
            <th>Reservation ID</th>
            <th>Guest ID</th>
            <th>Payment ID</th>
            <th>Room Number</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Number of Guests</th>
            <th>Confirmation Number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in reservation %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td> 
              <td>{{ row[2] }}</td> 
              <td>{{ row[3] }}</td> 
              <td>{{ row[4] }}</td> 
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td> 
              <td>{{ row[7] }}</td>
              <td><input type="submit" name="DeleteReservation" value="Delete" onclick="delReservation(this)"/></td> 
            </tr>
          {% endfor %}
        </tbody> 
      </table>
      

     <h1>Current Payments:</h1>
     <p><i>Refresh Page after adding a payment to see it added below</i></p>
     <table id="Payments">
        <thead>
          <tr>
            <th>Payment ID</th>
            <th>Reservation ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Credit Card Number</th>
            <th>Credit Card Type</th>
            <th>Credit Card Security Code</th>
            <th>House Number</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Country</th>
            <th>Total Charged</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in payment %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td> 
              <td>{{ row[2] }}</td> 
              <td>{{ row[3] }}</td> 
              <td>{{ row[4] }}</td> 
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td> 
              <td>{{ row[7] }}</td>
              <td>{{ row[8] }}</td> 
              <td>{{ row[9] }}</td>
              <td>{{ row[10] }}</td>
              <td>{{ row[11] }}</td> 
              <td>{{ row[12] }}</td>
              <td>{{ row[13] }}</td>
              <td><input type="submit" name="DeletePayment" value="Delete" onclick="delPayment(this)"/></td>      
            </tr>
          {% endfor %}
        </tbody> 
      </table>

 </div>
</body>
{% endblock %}
