{% extends 'main.html' %}

{% block content %}
<h1>Room Options</h1>
<div id="search" class="container">
    <div id="room-type" class="search-bar">
        <label for="type">Room Type</label>
        <select id="type" class="search-input">
            <option value="Queen">Queen</option>
            <option value="King">King</option>
            <option value="Full">Full</option>
        </select>
    </div>
    <div id="check-in" class="search-bar">
        <label for="c/i">Check-In</label>
        <input id="c/i" type="date" class="search-input">
    </div>
    <div id="check-out" class="search-bar">
        <label for="c/o">Check-Out</label>
        <input id="c/o" type="date" class="search-input">
    </div>
    <div id="number-rooms" class="search-bar">
        <label for="rooms">Number of Rooms</label>
        <input id="rooms" type="number" class="search-input">
    </div>
    <div id="number-guests" class="search-bar">
        <label for="guests">Number of Guests</label>
        <input id="guests" type="number" class="search-input">
    </div>
    <div id="pets">
        <label for="pet">Pets</label>
        <input id="pet" type="checkbox">
    </div>
    <button id="check-button" type="button">Search</button>
</div>

<table>
    <thead>
        <th>Room Type</th>
        <th>Guests Allowed</th>
        <th>Price</th>
    </thead>
    <tbody>
    <tr>
        <td> King</td>
        <td> 2</td>
        <td> $153</td>
        <td> <button type="button" onclick="window.location.href='/guestInformation'">Book Now!</button></td>
    </tr>
    <tr>
        <td> Double Queens</td>
        <td> 4</td>
        <td> $145</td>
        <td> <button type="button" onclick="window.location.href='/guestInformation'"> Book Now!</button></td>
    </tr>
    <tr>
        <td> Double Fulls</td>
        <td> 4</td>
        <td> $135</td>
        <td> <button type="button" onclick="window.location.href='/guestInformation'">Book Now!</button></td>
    </tr>
    </tbody>
</table>
{% endblock%}



