{% extends 'main.html' %}

{% block content %}
<body id="book">
<div class = "white"> 
    <form id="bookForm" class="container" action="/book" method="get">
        <button id="back" type="button" onclick="window.location.href='/home'">&larr;</button>
        <div id="check-in" class="search">
            <label for="c_i">Check-In</label>
            <input id="c_i" type="date" class="search-input" name="c_i">
        </div>
        <div id="check-out" class="search">
            <label for="c_o">Check-Out</label>
            <input id="c_o" type="date" class="search-input" name="c_o">
        </div> 
        <div id="number-guests" class="search">
            <label for="guests">Guests</label>
            <input id="guests" type="number" class="search-input" name="guest">
        </div> 
        <input id="check-button" type="submit" value="Search" name="Search"/>
    </form>
</div>
<div class="info">
    <div id="room">
        <p>Please use firefox or chrome</p>
    <form action="/book" method="post">
     <table id="Rooms">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Max Guests</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in room %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td> 
              <td>{{ row[2] }}</td> 
              <input type="hidden" name="room_num" value="{{ row[0] }}"/>
              <td>{{ row[3] }}</td> 
              <td><input type="submit" name="BookRoom" value="Book"/></td>
            </tr>
          {% endfor %} 
            <tr> 
              <input type="hidden" name="guests" value="{{ reserve[0] }}"/>
              <input type="hidden" name="in" value="{{ reserve[1] }}"/>
              <input type="hidden" name="out" value="{{ reserve[2] }}"/>
            </tr>
        </tbody> 
      </table>
  </form>
  </div>
</div>
</body>
{% endblock%}



