{% extends 'main.html' %}

{% block content %}
<body id="book">
<div class = "white">
    <div class="container">
        <button id="back" type="button" onclick="window.location.href='/home'">&larr;</button>
        <div id="check-in" class="search">
            <label for="c/i">Check-In</label>
            <input id="c/i" type="date" class="search-input">
        </div>
        <div id="check-out" class="search">
            <label for="c/o">Check-Out</label>
            <input id="c/o" type="date" class="search-input">
        </div> 
        <div id="number-guests" class="search">
            <label for="guests">Guests</label>
            <input id="guests" type="number" class="search-input">
        </div> 
        <button id="check-button" type="button">Search</button>
    </div>
</div>
<div class="info">
    <table>
        <thead>
            <th>Room Type</th>
            <th>Guests Allowed</th>
            <th>Price</th>
        </thead>
        <tbody>
        <tr>
            <td> King</td>
            <td> 2</td>
            <td> $153</td>
            <td> <button type="button" onclick="window.location.href='/guestInformation'">Book Now!</button></td>
        </tr>
        <tr>
            <td> Double Queens</td>
            <td> 4</td>
            <td> $145</td>
            <td> <button type="button" onclick="window.location.href='/guestInformation'"> Book Now!</button></td>
        </tr>
        <tr>
            <td> Double Fulls</td>
            <td> 4</td>
            <td> $135</td>
            <td> <button type="button" onclick="window.location.href='/guestInformation'">Book Now!</button></td>
        </tr>
        </tbody>
    </table>
    <img id="pic2" src="/static/room2.jpg"></img>
</div>
</body>
{% endblock%}



