{% extends 'main.html' %}

{% block content %}
   <body id="confirmation">
      <button type="button" onclick="history.back()">&larr;</button>
      <h1>THANK YOU</h1>
      <title>Confirmation</title>
      <div id="guestInfo">
      <div>
          <form>
       <h2>Thank you for your payment. Here is your reservation confirmation:</h2>
       <h4>Name: <i>John Doe</i></h4>
       <h4>Check-In Date: <i>October 28, 2019</i></h4>
       <h4>Check-Out Date: <i>October 29, 2019</i></h4>
       <h4>Number of Guests: <i>4</i></h4>
       <h4>Room Type: <i>2 Queens</i></h4>
       <h4>Room Number: <i>304</i></h4>
       <h4>Credit Card: <i>**** **** **** 7644</i></h4>
       <h4>Payment Total: <i>$94.64</i></h4>
       <br/>
       <br/>
       <h3>Billing Information</h3>
       <p>John Doe</p>
       <p>10391 SW 121st St</p>
       <p>Tualatin, OR 97331</p>
       <p>United States</p>
       <button type="button" onclick="window.location.href='/home'">Book Another Room</button>
     </form>
 </div>
 <div>
    <img id="confirmationpic" src="/static/checkmarkpic.jpg"></img>
</div>
 </div>
   </body>
{% endblock %}
