{% extends 'main.html' %}

{% block content %}
   <body id="confirmation">
      <button type="button" onclick="history.back()">&larr;</button>
      <p>Please use firefox or chrome</p>
      <h1>THANK YOU</h1>
      <title>Confirmation</title>
      <div id="guestInfo">
      <div>
          <form>
       <h2>Thank you for your payment. Here is your reservation confirmation:</h2>
       <h4> Confirmation Number: <i>{{ res[3] | None }} <i/></h4>
       <h4>Name: <i>{{ guest[0] | None}} {{ guest[1] || None}}</i></h4>
       <h4>Check-In Date: <i>{{ res[0]  || None}}</i></h4>
       <h4>Check-Out Date: <i>{{ res[1]  || None}}</i></h4>
       <h4>Number of Guests: <i>{{ res[2] || None}}</i></h4>
       <h4>Room Type: <i>{{ room[1] || None}}</i></h4>
       <h4>Room Number: <i>{{ room[0] || None}}</i></h4>
       <h4>Credit Card: <i>{{ payment[2] || None}}</i></h4>
       <h4>Payment Total: <i>{{ payment[9] || None}}</i></h4>
       <br/>
       <br/>
       <h3>Billing Information</h3>
       <p>{{ payment[0] || None}} {{ payment[1] || None}}</p>
       <p>{{ payment[3] || None}} {{ payment[4] || None}}</p>
       <p>{{ payment[5] || None}}, {{ payment[6] || None}} {{ payment[7] || None}}</p>
       <p>{{ payment[7] || None}}</p>
       <button type="button" onclick="window.location.href='/home'">Book Another Room</button>
     </form>
 </div>
 <div>
    <img id="confirmationpic" src="/static/checkmarkpic.jpg"></img>
</div>
 </div>
   </body>
{% endblock %}
