{% extends 'main.html' %}

{% block content %}
<body>
   <div>
     <title>Guest Information</title>
     <h1>Guest Information</h1>
     <form>
       <input type="button" value=&larr;  onclick="history.back()">
     </form>
   </div>
   <div id="guestInfo">
    <form id="info" action="/guestInformation" method="post">
         <div id="name">
            <h2>Please enter the following (required)...</h2>
            <p>First Name:
                <input type="text" name="f_name" size="15" maxlength="30"/>
            </p>
            <p>Last Name:
                <input type="text" name="l_name" size="15" maxlength="30"/>
            </p>
        </div>
        <div id="phone">
            <h3>Phone Number</h3>
            <p class="search">Area Code:
                <input type="text" name="area_code"/>
            </p>
            <p class="search">Extension:
                <input type="text" name="phone_number"/>
            </p>
            <input type="hidden" name="reservation" value="{{ reserve }}"/>
            <input type="hidden" name="room" value="{{ room_num }}"/>
        </div>
            <input type="submit" name="contine_to_payment" value="Continue to payment"/>
        </div>
    </form>
     </div>
     <img id="pic2" src="/static/guestpic.jpg"></img>
   </div>
     </body>
{% endblock %}
