<html>
   <head>
     <title>Guest Information</title>
   </head>
   <body>
     <form>
       <header>Please enter thef following (required)...</header>
       <p>First Name:
         <input type="text" name="f_name" size="15" maxlength="30"/>
       </p>
       <p>Last Name:
         <input type="text" name="l_name" size="15" maxlength="30"/>
       </p>
       <p>Phone Number</p>
       <br/>
       <p>Country Code:
         <input type="number" name="country_code" size="15" maxlength="30"/>
       </p>
       <p>Area Code:
         <input type="number" name="area_code" size="15" maxlength="30"/>
       </p>
       <p>Extension:
         <input type="number" name="phone_number" size="15" maxlength="30"/>
       </p>
       <input type="submit" name="contine_to_payment" value="Continue to payment"/>
     </form>
   </body> 
</html>
