{% extends 'main.html' %}

{% block content %}
<body id="home">
<div class="white">
    <form class="container">
       <div id="check-in" class="search">
            <label for="c/i">Check-In</label>
            <input id="c/i" type="date" class="search-input" name="c/i">
        </div>
        <div id="check-out" class="search">
            <label for="c/o">Check-Out</label>
            <input id="c/o" type="date" class="search-input" name="c/o">
        </div> 
        <div id="number-guests" class="search">
            <label for="guests">Guests</label>
            <input id="guests" type="number" class="search-input" name="guest">
        </div> 
        <button id="check-button" type="button" name="Check" onclick="window.location.href='/book'">Check Availability</button>
    </form>
</div>
<div class="info"> 
    <div id="txtbox">
        <h1>Welcome!</h1>
        <p id="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <img id="pic2" src="/static/room.jpg"></img>
</div> 
    </body>
{% endblock %}


