
#home {
    background: url('/static/beach.jpg');
    height: 50%
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#payment {
    height: 50%;
}

#book {
    background: url('/static/golf.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic2 {

    height: 70%;
    width: 35%;
    border: 2px solid black;
    padding: 2px;
}

.white {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 84%;
    height: 106px;
    background: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2px;
    z-index: 1;
}

.info {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: white;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.book_info {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 50%;
    background: white;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}

p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}

#number {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 100px;
    background: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}

#txtbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 45%;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90px;
}

#check-button {
    margin-top: 28px;
}

#confirmation {

}

#confirmationpic {
   }

#guestInfo {

}

#guestInfoPic {
  height: 70%;
  width: 35%;
  padding: 4px;
}

#paymentInfo {

}

#paymentInfoPic {
  height: 70%;
  width: 35%;
  padding: 4px;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#phone {

}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#guestInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

#Rooms {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #Rooms td, #Rooms th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #Rooms tr:nth-child(even){background-color: #f2f2f2;}
  
  #Rooms tr:hover {background-color: #ddd;}
  
  #Rooms th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #29aaaf;
    color: white;
  }

  #Reservations {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #Reservations td, #Reservations th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #Reservations tr:nth-child(even){background-color: #f2f2f2;}
  
  #Reservations tr:hover {background-color: #ddd;}
  
  #Reservations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #29aaaf;
    color: white;
  }


  #Payments {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #Payments td, #Payments th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #Payments tr:nth-child(even){background-color: #f2f2f2;}
  
  #Payments tr:hover {background-color: #ddd;}
  
  #Payments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #29aaaf;
    color: white;
  }


  #Guests {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #Guests td, #Guests th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #Guests tr:nth-child(even){background-color: #f2f2f2;}
  
  #Guests tr:hover {background-color: #ddd;}
  
  #Guests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #29aaaf;
    color: white;
  }
